@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  border: none;
  border-top: 3px dotted #f00;
  color: #fff;
  background-color: #fff;
  height: 5px;
  width: 100%;
}

.product{
    width: 250px;
}

.product-title{
    font-size: 20px;
    font-weight: bold;
}

.feature-title{
    font-size: 60px;
    font-weight: bold;
}

.feature-title-color{
    color: #f00;;
}

.logo{
    font-size: 30px;
}